body{
  width: 100%;
     height: 2000px;
    background:url("D:/React Projects/TodoList/todo\src/Components/TodoList/daniil-silantev-F6Da4r2x5to-unsplash.jpg");
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
  
}